.loginContainer{ 
    height:100vh;
    background:url("/sso-f17v2-bgimg.jpg") no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items:center;
}

.content{
    width: 460px;
    height: 370px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 7px rgb(0, 0, 0, 0.5);
}

.registerContent{
    margin-top: 50px;
    width: 460px;
    height: 230px;
    position:relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 7px rgb(0, 0, 0, 0.5);
}

.title {
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 2.3rem;
}

.phoneBox{
    border:3px solid #F1F0EB;
    width: 400px;
    height: 45px;
    margin-left: 30px;
    border-radius: 18px;
}

.phone {
    width: 372px;
    margin-left: 11px;
    padding-top: 4px;
    border:0px;
    outline:none;
    color: black;
    font-size: 1.1rem;
    -webkit-text-fill-color: #999;
}


.help {
    position: absolute;
    padding-left: 180px;
    font-size: 20px;
    color: black;
    color: #BB501C;
    text-decoration: underline;
}

.footer {
    position: absolute;
    padding-left: 90px;
    padding-top: 20px;
    font-size: 20px;
    color: black;
    color: #BB501C;
    text-decoration: underline;
}